@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-color: #f0ffff;
    background-repeat: no-repeat;
    height: 100%;
}

.title {
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.table-1 {
    background-color: aliceblue;
    align-items: center;
    margin: 0px auto;
    
}

th, td{
    padding: 15px;
}

.img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10%;
    margin-bottom: 5%;
}

.surname {
    color: orange;
}