@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-color: #f0ffff;
    background-repeat: no-repeat;
    height: 100%;
}

.title {
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
}

.table-1 {
    background-color: aliceblue;
    align-items: center;
    margin: 0px auto;
    
}

th, td{
    padding: 15px;
}

.img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10%;
    margin-bottom: 5%;
}

.surname {
    color: orange;
}

.buttn-1 {
    background-color: aliceblue;
    size: 130px;
    border-radius: 10%;
    
}

.center {
    display: flex;
    justify-content: center;
    background-color: #333;
    
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-item {
    float: left;
    position: relative;
    text-align: center;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
    color: orange;
}

/*page 2*/

.form1 {
    text-align: center;
}


